* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*Flex Container*/
.topHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #131111;
  padding: 15px;
}

/*flex component*/
.logo {
  font-weight: bold;
  color: whitesmoke;
  padding-left: 100px;
  font-size: 20px;
}

/*flex component*/
ol {
  list-style-type: none;
  margin: 0px;
  padding-right: 100px;
}

li {
  display: inline;
  padding: 10px;
}

a {
  text-decoration: none;
  color: lightgray;
  font-size: 15px;
}

a:hover {
  color: white;
}
